/* body {
    background: linear-gradient(135deg, #4CAF50, #2E7D32);    color: white;
    min-height: 100vh;
} */

a {
    color: white;
    text-decoration: none;
}

.card {
    background-color: #ccc;
    color: white;

}

img {
    width: 100px !important;
}